<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="css-nueva-cuenta">
  <template>
    <style>
            .testbox {
              margin-left:300px;
              margin-top:180px;
              width: 450px;
              height: 300px;
              background-color: #ffffff ;
              -webkit-border-radius: 8px/7px;
              -moz-border-radius: 8px/7px;
              border-radius: 8px/7px;
              -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
              -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
              box-shadow: 1px 2px 5px rgba(0,0,0,.31);
              border: solid 1px #f4f4f4;
              text-align: center;
              position:absolute; z-index:1;
            }

            hr{
              color: #989898;
              opacity: 0.8;
            }
            p {
              float:none;
              width: 100%;
              font-size: 28px;
              font-weight: 600;
              color:#303F9F ;
              text-align: center;
              /*padding-top: 20px;*/
              margin-top: 100px;

            }
            a.btn {
              float:left;
              text-align: center;
              margin-bottom: : 20px;
              margin-left: 170px;

            }
            button.close{
              float:right;
              margin-top: 10px;
              margin-right:10px;

            }
          .btn-info2 {
              color: #fff;
            background-color: #4285f4;
              float:left;
              margin-left:140px;
              margin-top: -114px;
              width:75px;
              height: 50px;
              text-align: center;
              position:absolute; z-index:1;

          }

          i {
              width:100%;
              height: 50px;
              color:#ffffff;
          }
          .radio-inline{
            font-size: 18px;

            color:#303F9F

          }




    </style>
  </template>
</dom-module>
