<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<dom-module id="nueva-cuenta">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
    <style include="css-nueva-cuenta"></style>
    <style>
      :host {
        display: block;

      }
    </style>

    <span hidden$ = "{{ocultacion}}">
      <span hidden$ = "{{error}}">

        <div class = "testbox">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" on-click="closedmess">&times;</button>
          <br>
          <hr>
          <p>Elija tipo de cuenta:</p>
          <hr>
          <label class="radio-inline">
            <input type="radio" name="Cuenta"  id="nomina_" class="nomina" value="Cuenta Nominar">Cuenta Nomina
          </label>
          <label class="radio-inline">
            <input type="radio" name="Cuenta"  id ="ahorro_" class ="ahorro" value="Cuenta Ahorro">Cuenta Ahorro
          </label>
          <br>
          <br>
          <button  class="btn btn-primary" name ="visorbalan" on-click="new">Aceptar</button>
        </div>

    </span>
  </span>



    <span hidden$ = "{{!logged}}">
      <button id="logout" class="btn btn-info2 btn-lg" on-click="mostrar" title="Nueva Cuenta"><i class="fas fa-plus-square fa-2x"></i></button >
      <paper-spinner alt="Ata cuenta..." active="[[cargando]]"></paper-spinner>
    </span>

    <iron-ajax
      id="newCC"
      method="POST"
      url="http://routebackaml4-apptechuaml.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/users/new/account"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">


  </template>
  <script>
    /**
     * @customElement
     * @polymer  esto se puede poner dentro de un .js
     */
    class NuevaCuenta extends Polymer.Element {
      static get is() { return 'nueva-cuenta'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
          typecc:{
            type: Boolean
          },
          logged:{
            type: Boolean,
            value:false
          },
          ocultacion:{
            type: Boolean,
            value:true
          },
          error:{
            type: Boolean,
            value:false
          },
          valido:{
            type:Boolean,
            value:true
          },
          ok:{
            type:Boolean,
            value:true
          }
         }
        }
        showData(data) {
          //desde el login
          console.log("Datos recibidos nueva-cuenta");
          //console.log(data);
          this.logged=data.logged;// desde login y desde logout
          this.id = Number(data.id);
          this.token=data.token;
          var loginData =  this.id;
          var tokenData =  this.token;
          //console.log(loginData);
          //console.log(tokenData);
            }
      mostrar(){
        this.ocultacion=false;
        this.error=false;
      }

      new(){
        var checknomina= this.shadowRoot.querySelectorAll(".nomina");
        var checkahorro= this.shadowRoot.querySelectorAll(".ahorro");
        //console.log(checknomina[0].checked);
        //console.log(checkahorro[0].checked);
        if (checknomina[0].checked==true){
          var check ="Cuenta Nomina"
        }else{
          var check ="Cuenta Ahorro"
        }
         var loginData={
          "id": this.id,
          "typecc":check

          };
        //console.log(loginData);
        this.$.newCC.headers.Authorization = "Bearer " + this.token;
        this.$.newCC.body = JSON.stringify(loginData);
        this.$.newCC.generateRequest();
          console.log("Peticion enviada Nueva cuenta");
        }
      manageAJAXresponse(data){
        console.log("Respuesta recibida");
        //console.log(data.detail.response);
        swal("Cuenta dada de alta.",{
            icon: "success",
          });

        this.ocultacion=true;
        this.dispatchEvent(
          new CustomEvent(
            "ccnresponse",
            {
              "detail": { /*evento hacia fuera al padre*/
                "id":this.id,
                "token":this.token,
                "logged":this.logged
              }
            }
           )
         );
       }
       closedmess(){
         console.log("boton cerrar error tranf pulsado")
           this.ocultacion =true;
            }
      showError(error){
        console.log("Error recibido");
        console.log(error);
        this.error=true;
        swal("Error en el Alta, intentelo pasados unos minutos",{
          icon: "error",});
        }
      }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(NuevaCuenta.is, NuevaCuenta);
  </script>
</dom-module>
