<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="visor-balance">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      :host {
        display: block;
      }
      thead{
        background-color: #75bda2;
      }
      tbody{
        background-color: #FFFFFF;
      }
      caption{
        font-size: 18px;
        font-weight: bold;
      }
      th{

          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          font-weight: bold;
          color: #FFFFFF;
          text-align: center;

      }
      .table-responsive{
        width: 90%;
        margin-left: 60px;
      }
    </style>

    <!--<h3>Iban:{{iban}} </h3>
    <h3>Importe :{{Importe}} </h3>-->

    <template is="dom-if" if={{!transf}}>
    <template is="dom-if" if={{logged}}>
      <span hidden$ = "{{error}}">
        <div class="table-responsive">
         <table class="table table-hover table-dark table-bordered ">

              <caption>Últimos movimientos</caption>
              <thead>
                    <tr>
                      <th>#</th>
                      <th>Fecha</th>
                      <th>Iban</th>
                      <th>Cargo</th>
                      <th>Concepto</th>
                      <th>Importe</th>
                    </tr>
              </thead>
              <tbody>
                <template is="dom-repeat" items="{{balances}}">
                  <tr>
                    <td>{{index}} </td>
                    <td>{{item.fecha}} </td>
                    <td>{{item.iban}} </td>
                    <td>{{item.cargo}} </td>
                    <td>{{item.concepto}} </td>
                    <td>{{item.Importe}} € </td>
                  </tr>
                </template>
                <paper-spinner alt="Cargando Datos..." active="[[cargando]]"></paper-spinner>
              </tbody>

            </div>
          </div>
        </span>
        </br>
    </template>
  </template>

    <iron-ajax
      method ="GET"
      id="getbalance"
      url="http://routebackaml4-apptechuaml.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/users/{{id}}/{{id_cc}}/balance"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorBalance extends Polymer.Element {
      static get is() { return 'visor-balance'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
            id_cc:{
            type: Number
          },
          iban:{
            type: String
          },
          fecha:{
            type: Date
          },
          Importe:{
            type: Number
          },
          concepto:{
            type: String
          },
          cargo:{
            type: String
          },
          balances : {
            type:Array
          },
          logged:{
            type: Boolean,
            value:false
          },
          transf:{
            type: Boolean,
            value:false
          },
          error:{
            type: Boolean,
            value:false
          },
          message:{
            type: String
          },
          token:{
            type:String
          }
        };
      }
      showData(data) {
        console.log("Datos recibidos al visor balance");
        console.log(data);
        this.id = data.id; //desde paso-balance
        this.id_cc = data.id_cc; //desde paso-balance
        this.logged=data.logged; //para el logout!!!
        this.transf=data.transf;//desde nuevo-moviemiento para ocultar la tabla  y desde paso-balance
        this.token=data.token;//desde paso-balance
        var loginData =  this.id;
        console.log(loginData);
          if (loginData != undefined) {
              /*this.$.getUser.params = JSON.stringify(loginData);*/
              this.$.getbalance.headers.Authorization = "Bearer " + this.token;
              this.$.getbalance.params = this.id;
              this.$.getbalance.params = this.id_cc;
              this.$.getbalance.generateRequest();
              console.log("Peticion enviada visor balance");
          }else {console.log(" visor balance desde logout");}//cuando se le llama desde logout para ocultarlo
        }

        manageAJAXresponse(data){
            console.log("Respuesta recibida");
            console.log(data.detail.response);
            /*this.logged =false;*/
            this.ocultacion=true;
            this.logged=true;
            this.balances = data.detail.response;


          /*  this.dispatchEvent(
              new CustomEvent(
                "ccresponse",
                {
                  "detail": {
                   "balances":this.balances,
                   "logged":this.logged

                  }
                 }
               )
             );*/
           }
          showError(error){
            console.log("Error recibido");
            console.log(error);
            this.error=true;
            this.message = "Error de acceso a datos";
            this.dispatchEvent(
              new CustomEvent(
                "balanresponse-error",
                {
                  "detail": {
                    "error":true,
                    "message":this.message
                     /*es lo que devuelve el ajax
                    ahora el mediador , pondra*/
                  }
                }
              )
            );
          }


    /*  showData(data){
        console.log("showData");
        console.log(data.detail.response);
        this.accounts =data.detail.response;}*/
        /*this.first_name =data.detail.response.first_name;
        this.last_name =data.detail.response.last_name;
        this.email =data.detail.response.email;
        this.iban= data.detail.response[0].iban
        this.Importe= data.detail.response[0].Importe*/
      }

    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorBalance.is, VisorBalance);
  </script>

</dom-module>
