<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../styles/styles.html">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<dom-module id="visor-cuenta">

  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style>
      :host {
        display: block;
      }
      thead{
        background-color: #75bda2;
      }
      tbody{
        background-color: #FFFFFF;
      }
      caption{
        font-size: 18px;
        font-weight: bold;
      }
      th{

          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          font-weight: bold;
          color: #FFFFFF;
          text-align: center;

      }
      .table-responsive{
        width: 90%;
        margin-left: 60px;
      }


    </style>

    <!--<h3>Iban:{{iban}} </h3>
    <h3>Importe :{{Importe}} </h3>-->


    <template is="dom-if" if={{logged}}>

      <div class="table-responsive">
       <table class="table table-hover table-dark table-bordered ">
          <caption>Sus cuentas activas</caption>
            <thead>
                  <!-- <tr> -->
                    <th>#</th>
                    <th>Cuenta Tipo</th>
                    <th>Iban</th>
                    <th>Importe</th>
                    <th>Seleccione</th>
                  </tr>
            </thead>
            <tbody>
              <template is="dom-repeat" items="{{accounts}}">
                <tr id="trresult" on-click="ver3" class="tabledata">
                  <td>{{index}} </td>
                  <td>{{item.type_cc}}</td>
                  <td>{{item.iban}}</td>
                  <td>{{item.Importe}} € </td>
                  <td>
                    <input type="radio" name="Cuenta"  id="check1" class="checkcc">
                  </td>
                </tr>
              </template>
              <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>
            </tbody>
          </table>
        </div>
      </template>

    <iron-ajax
      method ="GET"
      id="getUser"

      url="http://routebackaml4-apptechuaml.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/users/{{id}}/Accounts"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">
      <!--auto="true"-->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
          id_cc:{
            type: Number
          },
          iban:{
            type: String
          }
          ,
          Importe:{
            type: Number
          },
          type_cc:{
            type: String
          },
          accounts : {
            type:Array
          },
          ocultacion:{
            type: Boolean,
            value:true
          },
          logged:{
            type: Boolean
          },
          error:{
            type: Boolean,
            value:false
          },
          message:{
            type: String
          },
          token:{
            type:String
          },
          check:{
            type:Boolean
          }


        };
      }

        showData(data) {
          //desde el login y desde nuevo movimiento para actualizar la tabla de cuentas
          console.log("Datos recibidos visor cuenta");
          //console.log(data);
          this.logged=data.logged;
          this.id = data.id;
          this.token=data.token;
          var logged=this.logged;
          var loginData =  this.id;
          var tokenData =  this.token;

            if (loginData != undefined) {
                /*this.$.getUser.params = JSON.stringify(loginData);*/
                this.$.getUser.headers.Authorization = "Bearer " + this.token;
                this.$.getUser.params = this.id;
                this.$.getUser.generateRequest();
                console.log("Peticion enviada visor cuenta");
            }else {console.log(" visor cuenta logout");}
          }


        manageAJAXresponse(data){
            console.log("Respuesta recibida");
            //console.log(data.detail.response);
            this.accounts = data.detail.response;
            this.ocultacion=false;
            //this.id = data.detail.response[0].id;
            this.id = data.detail.response.id;
            this.id_cc = data.detail.response.id_cc;
            this.iban = data.detail.response.iban;
            this.Importe = data.detail.response.Importe;
            this.type_cc=data.detail.response.type_cc;


           }


            ver3(event) {
                 console.log(event.model.item);
                 this.iban=event.model.item.iban;
                 this.id=event.model.item.id;
                 this.id_cc=event.model.item.id_cc;
                 this.Importe=event.model.item.Importe;


                 var checkBox= this.shadowRoot.querySelectorAll(".checkcc");
                 console.log(checkBox);
                 var contCheck=0;
                 var contNotCheck=0;

                /* checkBox.forEach(check=> {
                   console.log("bucle1");
                   console.log(check);
                   if (check.checked ==true){
                    contCheck += 1;
                    console.log(contCheck);
                  }else{
                    contNotCheck+=1;
                    console.log(contNotCheck);

                  }
                 })

                 if (contCheck==1){
                   checkBox.forEach(check=> {
                     console.log("bucle2");
                     console.log(check);
                     console.log(check.checked);
                     if (check.checked ==false){
                       console.log(check.checked)
                       check.disable=true;
                       console.log(check.disable)
                     }else{
                       console.log(check.checked)
                       check.disable=false;
                       console.log(check.disable)
                     }
                    })
                   }else{
                     checkBox.forEach(check=> {
                       console.log("habilitamos todo");
                         check.disable=false;
                       })
                     }*/
                   this.dispatchEvent(
                      new CustomEvent(
                        "ccresponse",
                        {
                          "detail": {
                           "id":this.id,
                           "id_cc":this.id_cc,
                           "iban": this.iban,
                            "Importe": this.Importe,
                           "logged":this.logged,
                           "token":this.token

                          }
                         }
                       )
                     );
                   }


          showError(error){
            console.log("Error recibido");
            console.log(error);
            this.error=true;
            this.message = "Error de acceso a datos";
            this.dispatchEvent(
              new CustomEvent(
                "visorresponse-error",
                {
                  "detail": {
                    "error":true,
                    "message":this.message
                     /*es lo que devuelve el ajax
                    ahora el mediador , pondra*/
                  }
                }
              )
            );
          }


    /*  showData(data){
        console.log("showData");
        console.log(data.detail.response);
        this.accounts =data.detail.response;}*/
        /*this.first_name =data.detail.response.first_name;
        this.last_name =data.detail.response.last_name;
        this.email =data.detail.response.email;
        this.iban= data.detail.response[0].iban
        this.Importe= data.detail.response[0].Importe*/

      }

    //Vinculamos la etiqueta a la clase.
    window.customElements.define(VisorCuenta.is, VisorCuenta);
  </script>

</dom-module>
