<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="css-inicio-a">
  <template>
    <style>
        html, body {
          margin: 0;
          font-family: 'Roboto', 'Noto', sans-serif;
          -webkit-font-smoothing: antialiased;
          background: #f0effe;
          max-height: 368px;

        }
        app-toolbar {
          background-color: #4285f4;
          color: #fff;


        }

        div.main-title {
          margin-left: 140px;
          margin-top: 20px;
          color: #fff;
          top:5;
          font-weight: bold;
          font-size: 35px;

        }
        app-header {
          @apply --layout-fixed-top;
          color: #fff;
          background-color: var(--app-primary-color);
          overflow:hidden;
          display: flex;
          justify-content: center;
          align-items: center;
        /*  margin-left: -30px;*/
          /*position:absolute; z-index:0;*/
          }
        #logo {
          width:5%;
          height: 80px;
          background: #ddd;
          margin-top: 10px;
          margin-left: 180px;
          float:left;
          border-radius: 50%;
        }
        #title{
          float:left;
          width:40%;
          height:80px;
          margin-left: 220px;
          /*margin:auto;*/

        }
        .btn-info2 {
            color: #fff;
            /*background-color: #5bc0de;*/
            border-color: #46b8da;
            float:left;
            margin-left:20px;
            margin-top: 20px;
            width:75px;
            height: 50px;
            text-align: center
        }

        i {
            width:100%;
            height: 50px;
            color:#ffffff;
        }
        .btn-block2 {
            display: inline-block;
            width: 25%;
        }
    </style>
  </template>
</dom-module>
