<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<!--link rel="stylesheet" href="../../css/login-usuario.css">-->
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="login-usuario-event">
  <template>
    <!--<link rel="stylesheet" href="../../css/login-usuario.css">-->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <style include="css-login"></style>
    <style>
      :host {
        display: block;
      }
  </style>


    <template is="dom-if" if={{ocultacion}}>
      <h1>Bienvenido {{first_name}} {{last_name}}</h1>

    </template>

    <span hidden$ = "{{logged}}">
      <span hidden$ = "{{error}}">
        <div class = "testbox">
          <h2>Introduzca datos de acceso:</h2>
          <form autocomplete="off">
            <hr>
            <label id="icon" for="name"><i class="icon-envelope"></i></label>
            <input type="text" name="name" id="name"  value="{{email::input}}" placeholder="aaaaa@aaa.aa" required on-change="validamail" />
            <label id="icon" for="name"><i class="icon-shield"></i></label>
            <input type="password" name="name" id="name" value="{{password::input}}" placeholder="Password" required/>
            <hr>
            <p>Si has olvidado tu contraseña o password <a href="#">pulsa aqui</a>.</p>
            <paper-button raised class="button" on-click="login">Login</paper-button>
            <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>
          </form >
        </div>
      </span>
    </span>


    <iron-ajax
      id="doLogin"
      method="POST"
      url="http://routebackaml4-apptechuaml.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/login"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">


  </template>

  <script>
    /**
     * @customElement
     * @polymer  esto se puede poner dentro de un .js
     */

    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario-event'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
          first_name: {
            type: String,
            value:""
          },
          last_name: {
            type: String,
            value:""
          },
          email:{
            type: String,
            value:""
          },
          password:{
            type: String
          },
          logged:{
            type: Boolean
          },
          ocultacion:{
            type: Boolean,
            value:false
          },
          error:{
            type: Boolean,
            value:false
          },
          message:{
            type: String
          },
          valido:{
            type:Boolean,
            value:true
          },
          ok:{
            type:Boolean,
            value:true
          }
          ,
          token:{
            type:String
          }
         }
        }


      showData(data) {
        console.log("Datos recibidos 2");
        //console.log(data);
        /*this.logged=data.logged;*/
        this.ocultacion=data.ocultacion;
      }
      validamail(){
        console.log("valido mail");
        if( !(/^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i.test(this.email)) ) {
            swal("Email mal informado.",{
              icon: "warning",
            });

              this.ok=false;
          }else{
            this.ok=true;
          }
        }

      login(){
        console.log("Boton login pulsado");

        if ((this.email== null) ||(this.email.length == 0)){
          console.log("mail vacio");
          this.valido=false;

        }else{
          if ((this.password==null)||(this.password.length == 0)){
            console.log("password  vacio");
            this.valido=false;

          }else{
            this.valido=true;}
          }
          //console.log(this.valido);

        if ((this.valido==true) && (this.ok==true)){
            var loginData={
              "email": this.email,
              "password":this.password
            };
            this.$.doLogin.body = JSON.stringify(loginData);
            //lo que hacemos aqui es transformar una sintaxis de JS en formato JSON
            this.$.doLogin.generateRequest();
            console.log("Peticion enviada");
        }else{
          swal("Hay campos vacios o mal informados.",{
              icon: "error",
            });
        }

      }
      manageAJAXresponse(data,request){
        console.log("Respuesta recibida");
        //console.log(data.detail.response);
        this.token =  data.detail.response.token;
        this.id =  data.detail.response.id;
        this.first_name =data.detail.response.first_name;
        this.last_name =data.detail.response.last_name;
        this.logged =true;
        this.ocultacion=true;

        this.dispatchEvent(
          new CustomEvent(
            "loginresponse",
            {
              "detail": { /*evento hacia fuera al padre*/
                "logged":this.logged,
                "id":this.id,
                "token":this.token,
                "ocultacion":this.ocultacion

              }
            }
          )
        );
      }
      showError(e,error){
        console.log("Error recibido");
        console.log(error);
        var resp=error.request.status;
        console.log(error.request.status);
        if (resp==404){
        swal("Usuario/Contraseña Incorrecto.",{
            icon: "error",
          });
        }else{
          swal("Error de acceso a datos.",{
              icon: "error",
            });

        }
        //console.log("status:" + _data.status)
        //this.error=true;
        //this.message = "Usuario/Contraseña Incorrecto";
        /*this.dispatchEvent(
          new CustomEvent(
            "loginresponse-error",
            {
              "detail": {
                "error":true,
                "message":this.message

              }
            }
          )
        );*/
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
