<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../gestor-evento/gestor-evento-cliente.html">

<dom-module id="paso-balance">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      :host {
         display: block;
      }
      ul.horizontal{
      margin-right:80px;
      padding:0;
      }
      ul.horizontal li{
      display:block;
      float: right;
      padding:0 10px;
      width: :100%}

     .btn-block2 {
        display: inline-block;
        width: 100%;
        }
    </style>

    <template is="dom-if" if={{logged}}>
      <app-toolbar>

        <nav>
          <ul class="horizontal">
            <li><button  class="btn btn-primary btn-lg btn-block2" name ="visorbalan" on-click="balance">Ver movimientos</button></li>

            <li><button  class="btn btn-primary btn-lg btn-block2" name="transfer"  on-click="transfer">Hacer transferencia</button></li>
          </ul>
          <nav>
      </app-toolbar>
    </template>

  </template>

  <script>
    class PasoBalance extends Polymer.Element {
      static get is() { return 'paso-balance'; }
      static get properties() {
        return {
            logged:{
            type: Boolean

          },
            ocultacion:{
            type: Boolean,
            value:true

          },
            id:{
            type: Number

          },
            id_cc:{
            type: Number
          },
          iban:{
            type: String
          }
          ,
          Importe:{
            type: Number
          },
          accounts : {
            type:Array
          }
          ,
          transf : {
            type:Boolean
          },
          token:{
            type:String
          }
         }
        };


      showData(data) {
        console.log("Datos recibidos a paso balance");
        console.log(data);
        this.id=data.id;
        this.id_cc=data.id_cc;
        this.logged =data.logged;
        this.iban = data.iban;
        this.importe = data.Importe;
        this.token=data.token;
        //this.transf=false;
        console.log(this.id);
        console.log(this.id_cc);
        }

      balance(){
          console.log("Boton acceder pulsado");
            var tranfs= false;
            this.dispatchEvent(
            new CustomEvent(
              "balanceresponse",
              {
                "detail": { /*evento hacia fuera al padre*/
                  "logged":this.logged,
                  "id":this.id,
                  "id_cc":this.id_cc,
                  "transf":tranfs,
                  "token":this.token
                }
              }
            )
          );
        }
      transfer(){
          console.log("Boton acceder pulsado");
          var tranfs= true;
            this.dispatchEvent(
            new CustomEvent(
              "mtoresponse",
              {
                "detail": { /*evento hacia fuera al padre*/
                  "logged":this.logged,
                  "id":this.id,
                  "id_cc":this.id_cc,
                  "iban":this.iban,
                  "Importe":this.importe,
                  "transf":tranfs,
                  "token":this.token
                    /*es lo que devuelve el ajax
                  ahora el mediador , pondra*/
                }
              }
            )
          );
        }
      }
  window.customElements.define(PasoBalance.is, PasoBalance);
</script>
</dom-module>
