<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<!-- shared styles for all views -->
<dom-module id="shared-styles">
  <template>
    <style>
    .enlace {
        display:inline;
        border:0;
        padding:0;
        margin:0;
        text-decoration:underline;
        background:none;
        color:#000088;
        font-family: arial, sans-serif;
        font-size: 1em;
        line-height:1em;
      }

    .enlace:hover {
      text-decoration:none;
      color:#0000cc;
      cursor:pointer;
    }
    /*estilo tablas*/
    .datagrid table { border-collapse: collapse; text-align: left; width: 100%; }
    .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif;
          background: #fff;
          overflow: hidden;
          border: 1px solid #006699;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px; border-radius: 3px; }
    .datagrid table td, .datagrid table th { padding: 3px 10px; }
    .datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
                background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
                background-color:#006699; color:#FFFFFF; font-size: 13px; font-weight: bold; border-left: 1px solid #0070A8; }
    .datagrid table thead th:first-child { border: none; }
    .datagrid table tbody td { color: #00557F;
                border-left: 1px solid #E1EEF4;
                font-size: 12px;font-weight: normal; }
    .datagrid table tbody
    .alt td { background: #E1EEf4;
        color: #00557F; }
    .datagrid table tbody td:first-child { border-left: none; }
    .datagrid table tbody tr:last-child td { border-bottom: none; }

    </style>
  </template>
</dom-module>
