<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="css-nuevo-usuario">
  <template>
    <style>


      * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
       }

       body {
         background: #f2f2f2;
         font-family: "Roboto", Arial;
         border-top: 30px solid #303F9F;
       }
       input:invalid {
        border: 1px solid red;
      }
       .wrap {
         width: 90%;
         max-width: 800px;
         padding: 40px;
         margin: auto;
         background: #fff;
         box-shadow: 0px 0px 3px grey;
       }
       .contenedor-formulario {
         width: 100%;
         color: #f2f2f2;
         padding: 50px;
       }
       .contenedor-formulario .formulario {
         width: 100%;
         margin: auto;
       }
       .contenedor-formulario .formulario .input-group {
        position: relative;
        margin-bottom: 32px;
      }
      .contenedor-formulario .formulario .input-group2{
       position: relative;
       margin-bottom: 32px;
      }
      .contenedor-formulario .formulario .input-group input[type="text"],
      .contenedor-formulario .formulario .input-group input[type="email"],
      .contenedor-formulario .formulario .input-group input[type="password"],
      .contenedor-formulario .formulario .input-group input[type="tel"] {
        font-family: "Roboto", Arial;
        font-size: 16px;
        color: #303F9F;
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #BBDEFB;
      }
      .contenedor-formulario .formulario .input-group input[type="text"]:focus,
      .contenedor-formulario .formulario .input-group input[type="text"]:active,
      .contenedor-formulario .formulario .input-group input[type="email"]:focus,
      .contenedor-formulario .formulario .input-group input[type="email"]:active,
      .contenedor-formulario .formulario .input-group input[type="tel"]:focus,
      .contenedor-formulario .formulario .input-group input[type="tel"]:active,
      .contenedor-formulario .formulario .input-group input[type="password"]:focus,
      .contenedor-formulario .formulario .input-group input[type="password"]:active {
        outline: none;
        border-bottom: 2px solid #303F9F;
      }
      .contenedor-formulario .formulario .input-group input[type="text"].error,
      .contenedor-formulario .formulario .input-group input[type="email"].error,
      .contenedor-formulario .formulario .input-group input[type="password"].error {
        border-bottom: 2px solid #D32F2F;
      }
      .contenedor-formulario .formulario .input-group input[type="text"].error + label,
      .contenedor-formulario .formulario .input-group input[type="email"].error + label,
      .contenedor-formulario .formulario .input-group input[type="password"].error + label {
        color: #D32F2F;
      }
      .contenedor-formulario .formulario .input-group label {
        color: #303F9F;
      }
      .contenedor-formulario .formulario .input-group label.label {
        transition: all 0.3s ease;
        margin-left: 15px;
        font-size: 16px;
        line-height: 16px;
        position: absolute;
        top: 16px;
        left: 0;
      }
      .contenedor-formulario .formulario .input-group2 p {
        color: #303F9F;
      }
      .contenedor-formulario .formulario .input-group2 p {
        margin-left: 15px;
        font-size: 25px;
        line-height: 16px;
        position: absolute;
        top: -20px;
        left: 0;
      }
      .contenedor-formulario .formulario .input-group label.label.active {
        top: -12px;
        font-size: 12px;
        line-height: 12px;
        color: #B6B6B6;
      }
      .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.checkbox label {
        display: inline-block;
        cursor: pointer;
        color: #303F9F;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        transition: all 0.3s ease;
      }
      .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.checkbox label:hover {
        background: #bbdefb;
      }
      .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.checkbox label:before {
        content: "";
        display: inline-block;
        width: 17px;
        height: 17px;
        position: absolute;
        left: 15px;
        border-radius: 50%;
        background: none;
        border: 2px solid #303F9F;
      }

      .contenedor-formulario .formulario .input-group.error label {
        color: #D32F2F;
      }
      .contenedor-formulario .formulario .input-group.error label:hover {
        background: rgba(211, 47, 47, 0.2);
      }
      .contenedor-formulario .formulario .input-group.error label:before {
        border: 2px solid #D32F2F;
      }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
        display: none;
      }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
        display: none;
      }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
        padding: 5px 15px;
        background: #303F9F;
        border-radius: 2px;
        color: #f2f2f2;
      }
      .contenedor-formulario .formulario .input-group.checkbox label:before {
        border-radius: 3px;
      }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
        display: none;
      }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
        display: none;
      }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
        background: #303F9F;
        color: #f2f2f2;
        padding: 5px 15px;
      }
      .button {
        font-size: 14px;
        font-weight: 600;
        color: white;
        padding: 6px 25px 10x 20px;
        margin: 10px 8px 20px 10px;
        display: inline-block;
        float: right;
        text-decoration: none;
        width: 75px; height: 35px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: #3a57af;
        -webkit-box-shadow: 0 3px rgba(58,87,175,.75);
        -moz-box-shadow: 0 3px rgba(58,87,175,.75);
        box-shadow: 0 3px rgba(58,87,175,.75);
        transition: all 0.1s linear 0s;
        top: -40px ;
        position: relative;
        line-height: 35px;
        text-align: center;

        }
  </style>
 </template>
</dom-module>
