<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">


<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<dom-module id="nuevo-usuario">
  <template>
    <style include="css-nuevo-usuario"></style>
    <style>
      :host {
        display: block;
      }
    </style>
    <app-router>
      <app-route path="/"></app-route>
      <app-route path="/login" import="/src/login-usuario/login-usuario-event.html"></app-route>
      <app-route path="/nuevo" import="/src/nuevo-usuario/nuevo-usuario.html"></app-route>
    </app-router>

      <!--<template is="dom-if" if={{error}}>
        <index></index>
      </template>-->

    <span hidden$ = "{{alta}}">
      <span hidden$ = "{{error}}">
        <div class = "contenedor-formulario">
          <div class="wrap">
            <form id = "form" actions="" method="post" class="formulario" name="formulario_registro" autocomplete="off">
              <div class = "input-group2">
                <p>Por favor rellene el formulario:</p>
              </div>
              <br/>
              <div>

                <div class = "input-group">
                  <input  id = "nombre"  name ="nombre" type="text" value="{{first_name::input}}" placeholder="Nombre" required >
                  <label  for= "nombre"> Nombre </label>
                </div>

                <div class = "input-group">
                    <input  id = "last_name" size= "30" type="text" value="{{last_name::input}}" placeholder="Apellidos" required><br><br>
                    <label  for= "last_name"> Apellidos </label><br>
                </div>

                <div class = "input-group checkbox">
                        <input  type="checkbox" name="gender" id ="hombre" class="hombre"  value="{{hombre::input}}">
                        <label  for= "hombre"> Hombre </label>
                        <input  type="checkbox" name="gender" id ="mujer" class="mujer" value="{{mujer::input}}">
                        <label  for= "mujer"> Mujer </label>
                </div>

                <div class = "input-group">
                    <input  id = "nif" type="text" value="{{nif::input}}" placeholder="NIF" required/>
                    <label  for= "nif"> NIF </label><br>
                </div>

                <div class = "input-group">
                    <input  id = "address" type="text" size= "66"  value="{{address::input}}" placeholder="Direccion" >
                    <label  for= "address"> Direccion completa </label>
                </div>

                <div class = "input-group">

                    <input  id = "country" type="text" value="{{country::input}}" placeholder="Pais" >
                    <label  for= "country"> País </label>
                </div>

                <div class = "input-group">
                    <input  id = "phone" type="tel" value="{{phone::input}}" pattern="[0-9]{1,9}" maxlength ="9" placeholder="999999999" on-change="validatlf" required>
                    <label  for= "phone"> Teléfono </label>
                </div>

                <div class = "input-group">

                    <input  id = "email" type="email" value="{{email::input}}" placeholder="aaaaa@aaa.aa" on-change="validamail" required>
                    <label  for= "email"> Mail </label>
                </div>

                <div class = "input-group">
                    <input  id = "pass"
                        type="password"
                        value="{{password::input}}" placeholder="Password" required
                        />
                    <label  for= "pass"> Password </label>
                </div>

                <div class = "input-group checkbos">
                        <input  type="checkbox" name="terminos" id ="terminos"  value="true">
                        <label  for= "terminos">Acepto los términos y condiciones </label>
                </div>

              </div>
            </form>
            <div class = "button-login">
              <paper-button raised class="button" on-click="new">Alta</paper-button >
              <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>
            </div>
          </div>
        </div>

      </span>
    </span>



    <iron-ajax
      id="doAlta"
      method="POST"
      url="http://routebackaml4-apptechuaml.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/users/new"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">


  </template>
  <script>

  /*  var input = document.getElementById('password');
    input.oninvalid = function(event) {
    event.target.setCustomValidity('solo puede contener letras minúsculas');
  }*/
  </script>

  <script>
    /**
     * @customElement
     * @polymer  esto se puede poner dentro de un .js
     */
    class NuevoUsuario extends Polymer.Element {
      static get is() { return 'nuevo-usuario'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
          first_name: {
            type: String,
            value:""
          },
          last_name: {
            type: String,
            value:""
          },
          email:{
            type: String
          },
          password:{
            type: String
          },
          phone:{
            type: Number
          },
          address:{
            type: String
          },
          country:{
            type: String
          },
          nif:{
            type: String
          },
          gender:{
            type: String
          },
          logged:{
            type: Boolean
          },
          ocultacion:{
            type: Boolean,
            value:false
          },
          message:{
            type: String
          },
          error:{
            type: Boolean,
            value:false
          },
          alta:{
            type: Boolean,
            value:false
          },
          hombre:{
            type:Object
          },
          mujer:{
            type:Object
          } ,
          valido:{
            type:Boolean,
            value:true
          },
          myModal:{
            type:Object
          },
          ok:{
            type:Boolean,
            value:true
          }
         }
        }
      validatlf(){

        if( !(/^\d{9}$/.test(this.phone))) {
          console.log("tlf erroneo");
          //document.querySelector("#phone").style.backgroundColor = "red";
          //this.phone.style.backgroundColor = "red";
          swal("Telefono mal informado.",{
              icon: "error",
            });
            this.ok=false;
        }else{
          this.ok=true;
        }
       }
      validamail(){
        if( !(/^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i.test(this.email)) ) {
            swal("Email mal informado.",{
              icon: "error",
            });
            this.ok=false;
        }else{
          this.ok=true;
        }
       }


      new(){
        console.log("Boton alta pulsado");

          if ((this.first_name== null) ||(this.first_name.length == 0)){
            console.log("nombre vacio");
            this.valido=false;

          }else{
            if ((this.last_name==null)||(this.last_name.length == 0)){
              console.log("apellido  vacio");
              this.valido=false;

            }else{
              if ((this.email==null)|| (this.email.length == 0)){
                console.log("mail  vacio");
                this.valido=false;

              }else{
                if ((this.password==null)||(this.password.length == 0)){
                  console.log("password  vacio");
                  this.valido=false;

                }else{
                  if ((this.nif==null)||(this.nif.length == 0)){
                    console.log("nif  vacio");
                    this.valido=false;

                  }else{
                    if( !(/^\d{9}$/.test(this.phone))) {
                      console.log("tlf erroneo");
                      this.valido=false;
                    }else{
                      this.valido=true;
                    }//cierre if 6
                  }//cierre if 5
                }//cierre if 4º
              }//cierre if tercero
            }//cierre del if segundo
          }/*cierro if primero*/
          var checkhombre= this.shadowRoot.querySelectorAll(".hombre");
          var checkmujer= this.shadowRoot.querySelectorAll("input#mujer.mujer");
        /*  console.log(checkhombre);
          console.log(checkmujer);
          console.log(checkhombre[0].checked);
          console.log(checkmujer[0].checked);*/
          if ((checkhombre[0].checked ==true) &&(checkmujer[0].checked ==true)) {
             this.valido=false;
           }else{
             if (checkhombre[0].checked ==true){
               this.gender = "hombre";
             }else{
               this.gender = "mujer";
             }
             console.log(this.gender);
           }
         var loginData={
          "email": this.email,
          "password":this.password,
          "first_name":this.first_name,
          "last_name":this.last_name,
          "address":this.address,
          "gender":this.gender,
          "nif":this.nif,
          "phone":this.phone,
          "country":this.country
        };
        //console.log(loginData);


        if ((this.valido==true) && (this.ok==true)){
          this.$.doAlta.body = JSON.stringify(loginData);
          this.$.doAlta.generateRequest();
          console.log("Peticion enviada Alta");
        }else{
          console.log("faltan campos");
          swal("Hay campos vacios o mal informados.",{
              icon: "error",
            });
        }
      }

      manageAJAXresponse(data){
        console.log("Respuesta recibida");
        //console.log(data.detail.response);
        this.msg=data.detail.response.msg;
        if (this.msg=="El usuario ya existe."){
          swal("Ya existe como usuario en el sistema.",{
            icon: "info",
          });

        }else{
        this.logged =false;
        this.ocultacion=true;
        this.alta = true;
        this.dispatchEvent(
          new CustomEvent(
            "altaresponse",
            {
              "detail": {
               "logged":this.logged,
               "ocultacion":this.ocultacion,
               "alta":this.alta
              }
            }
           )
         );
       }
      }
      showError(error){
        console.log("Error recibido");
        console.log(error);
        this.error=true;
        this.message = "Error en el Alta, repita el proceso";
         /*swal("Error en el Alta, intentelo pasados unos minutos",{
            icon: "error",});*/
         this.dispatchEvent(
            new CustomEvent(
              "altaresponse-error",
              {
                "detail": {
                  "error":true,
                  "message":"Error en el Alta, repita el proceso"
                }
              }
            )
          );
        }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(NuevoUsuario.is, NuevoUsuario);
  </script>
</dom-module>
