<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="page-not-found">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h1>Aqui no hay hay nada que ver </h1>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PagenotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {

        };
      }
    }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(PagenotFound.is, PagenotFound);
  </script>
</dom-module>
