<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../nuevo-usuario/nuevo-usuario.html">
<link rel="import" href="../mensaje-error/mensaje-error.html">


<dom-module id="gestor-evento-nocliente">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>
    <nuevo-usuario on-altaresponse="processEventNew" on-altaresponse-error="processError"></nuevo-usuario>
    <mensaje-error id ="receivererror"></mensaje-error>

    <!--<visor-cuenta id="receivercc" on-ccresponse="processEventcc"></visor-cuenta>-->
    <!--<tabla-cuenta id="receivertab" ></tabla-cuenta>-->
    <!--   <index  id ="receiverindx"></index>-->


  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEventoNoCliente extends Polymer.Element {
      static get is() { return 'gestor-evento-nocliente'; }
      static get properties() {
        return {
            id:{
            type: Number

          },
          logged:{
            type: Boolean

          }
          ,
          ocultacion:{
            type: Boolean

          }
        };
      }
      processEventNew(data) {
        console.log("Funcion envio evento alta a mensaje");
        console.log(data);
        this.$.receivererror.showData(data.detail);
      }
      /*processEventlogout(data) {
        console.log("Funcion envio evento logout a login");
        console.log(data);
        this.$.receiverlog.showData(data.detail);
        this.$.receivercc.showData(data.detail.ocultacion);
        this.$.receivercc.showData(data.detail.logged);
        this.$.receivererror.showData(data.detail);
      }*/
      processError(data) {
        console.log("Funcion envio evento a error");
        console.log(data);
          this.$.receivererror.showData(data.detail);
          }
      }

    window.customElements.define(GestorEventoNoCliente.is, GestorEventoNoCliente);
  </script>
</dom-module>
