<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="css-mensaje-error">
  <template>
    <style>
    .testbox {
      margin: 20px auto;
      width: 400px;
      height: 200px;
      background-color: #ffffff ;
      -webkit-border-radius: 8px/7px;
      -moz-border-radius: 8px/7px;
      border-radius: 8px/7px;
      -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
      -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
      box-shadow: 1px 2px 5px rgba(0,0,0,.31);
      border: solid 1px #f4f4f4;
      text-align: center;
    }

    hr{
      color: #989898;
      opacity: 0.8;
    }
    p {
      float:none;
      width: 100%;
      font-size: 24px;
      font-weight: 600;
      color:#b7b7b7 ;
      text-align: center;
      /*padding-top: 20px;*/
      margin-top: 100px;

    }
    a.btn {
      float:left;
      text-align: center;
      margin-bottom: : 20px;
      margin-left: 170px;

    }
    button.close{
      float:right;
      margin-top: 10px;
      margin-right:10px;

    }


    </style>
  </template>
</dom-module>
