<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<dom-module id="action-transfer">
  <template>
    <style include="css-action-transfer"></style>
    <style>
    :host{
      disply:block;
    }
    </style>

    <template is="dom-if" if={{logged}}>
      <span hidden$="{{!transf}}">
          <div class="contenedor-formulario">
            <div class="wrap">
              <form is="form"class="formulario" name="formulario-transferencia"  autocomplete="off">
                <div class="input-group2">
                  <p>Introduzca los datos :</p>
                </div>
                <div>
                  <div class="input-group">
                    <label for="iban">Iban</label>
                    <input id="iban" type="text" name="iban" value ="{{iban}}" disable/>
                  </div>
                  <div class="input-group">
                    <label for="ibandes">Iban Destino</label>
                    <input id="ibandes" type="text" name="iban" value ="{{ibandes::input}}" placeholder="Iban destino" required/>
                  </div>
                  <div class="input-group">
                    <label for="imptran">Importe</label>
                    <input id="imptran" type="text" name="imptran" value ="{{imptran::input}}" placeholder="Importe a transferir" on-change="validaimp" required/>
                  </div>
                  <div class="input-group">
                    <label for="concepto">Concepto</label>
                    <input id="concepto" type="text" name="iban" value ="{{concepto::input}}" placeholder="Concepto" />
                  </div>
                </div>
              </form>
              <div class="button-login">
                <button class="button" on-click="new">Enviar</button>
              </div>
              <paper-spinner alt="Realizando transferencia..." active="[[cargando]]"></paper-spinner>
            </div>
        </span>
      </template>


    <iron-ajax
      id="doTransf"
      method="POST"
      url="http://routebackaml4-apptechuaml.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/transferencia"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">

  </template>

  <script>
  class ActionTransfer extends Polymer.Element {
      static get is() { return 'action-transfer'; }
      // Declare properties for the element's public API
      static get properties() {
        return {
          id: {
            type: Number
          },
          id_cc: {
            type: Number
          },
          iban: {
            type: String
          },
          ibandes: {
            type: String
          },
          importe: {
            type: Number
          },
          imptran: {
            type: Number
          },
          concepto: {
            type: String
          },
          token: {
            type: String
          },
          logged: {
            type: Boolean,
          value:false
          },
          ocultacion: {
            type: Boolean,
          value:false
          },
          error: {
            type: Boolean,
            value:false
          },
          transf: {
            type: Boolean
          },
          valido: {
            type: Boolean
          },
          ok: {
            type: Boolean,
            value:true
          },
          message: {
            type: String
          }
        }
      }

      showData(data) {
          console.log("Datos recibidos hacia transferencia");
          //console.log(data);
          this.id=data.id;
          this.id_cc=data.id_cc;
          this.iban=data.iban;
          this.token=data.token;
          this.logged=data.logged;
          this.transf=data.transf;
        }
        validaimp(){

          if( !/^([0-9])*[.]?[0-9]*$/.test(this.imptran)) {
            console.log("importe erroneo");
            swal("Importe mal informado.",{
                icon: "warning",
              });
              this.ok=false;
          }else{
            this.ok=true;
          }
        }

        new(){
          console.log("Boton enviar pulsado");
          if ((this.imptran== null) ||(this.imptran.length == 0)){
          console.log("importe vacio");
          this.valido=false;

          }else{
            if ((this.ibandes==null)||(this.ibandes.length == 0)){
              console.log("iban  vacio");
              this.valido=false;

            }else{
              this.valido=true;

            }
           }

          if ((this.valido==true) && (this.ok==true)){
              var TokenData=this.token;
              var importe=this.imptran;
              var impfloat=Number(importe);
              var transferData={
                "id": this.id,
                "id_cc":this.id_cc,
                 "iban":this.iban,
                 "imptran":impfloat,
                 "ibandes":this.ibandes,
                 "concepto":this.concepto
               };
               //console.log(transferData);
               //console.log(TokenData);
               this.$.doTransf.headers.Authorization="Bearer "+ TokenData;
               this.$.doTransf.body=JSON.stringify(transferData);
               this.$.doTransf.generateRequest();
               console.log("Peticion enviada Transferencia");
          }else{
            swal("Hay campos vacios o mal informados.",{
              icon: "error",
                });
          }
        }

          manageAJAXresponse(data){
            console.log("Respuesta Transferencia recibida");
            //console.log(data.detail.response);
            this.message=data.detail.response.msg;
            if (this.message == "Sin fondos"){
              swal("No tiene suficiente fondos.",{
                  icon: "warning",
                });
            }else{
                swal("Transferencia realizada.",{
                icon: "success",
                  });

                this.id=data.detail.response.id;
                //console.log(this.id);
                var tranfs= false;
                this.transf=false;
                console.log("Evento hacia el visor");
                this.dispatchEvent(
                  new CustomEvent(
                    "transferresponse",
                    {
                      "detail": { /*evento hacia fuera al padre*/
                        "logged":this.logged,
                        "id":this.id,
                        //"id_cc":this.id_cc,
                        "transf":tranfs,
                        "token":this.token
                      }
                    }
                  )
                )
              }
            }

         /*manageAJAXresponse_delay(){

          windows.setTimeout(manageAJAXresponse(data),10000);
        }*/

        showError(e,error){
          console.log("error recibido");
          console.log(error);
          var resp=error.request.status;
          console.log(error.request.status);
          if (resp==404){
          swal("No existe la cuenta destino o es incorrecta.",{
              icon: "error",
            });
          }else{
            swal("Error de acceso a datos.",{
                icon: "error",
              });
        /*  this.error=true;
          this.message = "Error de acceso a datos";
          this.dispatchEvent(
            new CustomEvent(
              "transferesponse-error",
              {
                "detail": {
                  "error":true,
                  "message":this.message

                }
              }
            )
          );*/
        }
      }

    }
      window.customElements.define(ActionTransfer.is, ActionTransfer);

    </script>

  </dom-module>
