<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<dom-module id="css-action-transfer">
  <template>
    <style>
    * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
     }

     body {
       background: #f2f2f2;
       font-family: "Roboto", Arial;
       border-top: 30px solid #303F9F;
     }

     .wrap {
       width: 90%;
       max-width: 500px;
       padding: 40px;
       margin: auto;
       background: #fff;
       box-shadow: 0px 0px 3px grey;
     }
     .contenedor-formulario {
       width: 100%;
       color: #f2f2f2;
       padding: 50px;
     }
     .contenedor-formulario .formulario {
       width: 100%;
       margin: auto;
     }
     .contenedor-formulario .formulario .input-group {
      position: relative;
      margin-bottom: 32px;
    }
    .contenedor-formulario .formulario .input-group2{
     position: relative;
     margin-bottom: 32px;
    }
    .contenedor-formulario .formulario .input-group input[type="text"]{
      font-family: "Roboto", Arial;
      font-size: 16px;
      color: #303F9F;
      width: 100%;
      outline: none;
      padding: 15px;
      background: none;
      border: none;
      border-bottom: 2px solid #BBDEFB;
    }
    .contenedor-formulario .formulario .input-group input[type="text"]:focus,
    .contenedor-formulario .formulario .input-group input[type="number"]:active{
      outline: none;
      border-bottom: 2px solid #303F9F;
    }
    .contenedor-formulario .formulario .input-group input[type="text"].error,
    .contenedor-formulario .formulario .input-group input[type="number"].error {
      border-bottom: 2px solid #D32F2F;
    }
    .contenedor-formulario .formulario .input-group input[type="text"].error + label,
    .contenedor-formulario .formulario .input-group input[type="number"].error + label {
      color: #D32F2F;
    }
    .contenedor-formulario .formulario .input-group label {
      color: #303F9F;
    }
    .contenedor-formulario .formulario .input-group label.label {
      transition: all 0.3s ease;
      margin-left: 15px;
      font-size: 16px;
      line-height: 16px;
      position: absolute;
      top: 16px;
      left: 0;
    }
    .contenedor-formulario .formulario .input-group2 p {
      color: #303F9F;
    }
    .contenedor-formulario .formulario .input-group2 p {
      margin-left: 15px;
      font-size: 25px;
      line-height: 16px;
      position: absolute;
      top: -45px;
      left: 0;
    }
    .contenedor-formulario .formulario .input-group label.label.active {
      top: -12px;
      font-size: 12px;
      line-height: 12px;
      color: #B6B6B6;
    }
    .button {
      font-size: 18px;
      font-weight: 600;
      color: white;
      padding: 6px 25px 10x 20px;
      margin: 40px 8px 10px 10px;
      display: inline-block;
      float: right;
      text-decoration: none;
      width: 100%;
      height: 50px;
      background-color: #3a57af;
      transition: all 0.1s linear 0s;
      top: -30px ;
      position: relative;
      line-height: 50px;
      text-align: center;

      }




    </style>
   </template>
  </dom-module>
