<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<link rel="import" href="../inicio-a/inicio-a.html">

<link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="../../font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">

<dom-module id="logout-receptor-evento">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../font-awesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap-theme.min.css">

      <style>
      :host {
        display: block;
      }
      .button-logout{
        float: left;
        margin-left:90%;
        margin-top:-80px;
        display: inline-block;
        position: absolute;

      }
      .btn-warning2 {
          color: #fff;
          background-color: #4285f4;
          /*border-color: #e38d13;*/
          width:75px;
          height: 50px;
          text-align: center;

      }
      btn-warning2:hover {
          color: #fff;
          background-color: #ec971f;
          border-color: #d58512;
      }
      i {
          width:100%;
          height: 50px;
          color:#ffffff;
      }
      </style>

    <template is="dom-if" if={{logged}}>
      <div class = "button-logout">
        <button id="logout" class="btn btn-warning2 btn-lg" on-click="logout" title="Logout">
           <i class="fas fa-sign-out-alt fa-2x"></i></button >
      </div>      <!-- <button class="btn btn-warning" on-click="logout">Logout</button> -->
      <paper-spinner alt="Adios..." active="[[cargando]]"></paper-spinner>
    </template>


  <!--  REVISAR ESTO:-->
    <template is="dom-if" if={{!logged}}>
      <mensaje-error></mensaje-error>
    </template>

    <iron-ajax

      id="doLogout"
      method="POST"
      url="http://routebackaml4-apptechuaml.1d35.starter-us-east-1.openshiftapps.com/apitechu/v2/logout"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXresponse"
      on-error="showError"
      loading="{{cargando}}">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutReceptorEvento extends Polymer.Element {
      static get is() { return 'logout-receptor-evento'; }
      static get properties() {
        return {
          id:{
            type: Number
          },
          logged:{
            type: Boolean
          },
          response:{
            type: Object
          }
          ,
          ocultacion:{
            type: Boolean
          },
          bye:{
            type: Boolean
          },
          token:{
            type:String
          }
        }
      }
      showData(data) {
        console.log("Datos recibidos");
        //console.log(data);
        this.id=data.id;
        this.logged=data.logged;
        this.token=data.token;
                }
      logout(){
          console.log("Boton logout pulsado");
          var loginData={
            "id": this.id
          };
          var tokenData =  this.token;
          //console.log(loginData);
          //console.log(tokenData);
          this.$.doLogout.headers.Authorization = "Bearer " + this.token;
          this.$.doLogout.body = JSON.stringify(loginData);
          //console.log(this.id);
          this.$.doLogout.generateRequest();
          console.log("Peticion enviada");
         }
        manageAJAXresponse(data){
          console.log("Respuesta recibida");
          //console.log(data.detail.response);
          this.logged =false;
          this.ocultacion=false;

          this.response = data.detail.response;
          var response = this.response;


          this.dispatchEvent(
            new CustomEvent(
              "logoutresponse",
              {
                "detail": {
                 "logged":this.logged,
                 "ocultacion":this.ocultacion,
                 "bye":true
                }
              }
             )
           );
         }
        showError(error){
          console.log("Error recibido");
          console.log(error);
          this.logged =false;

        }
      }
    //Vinculamos la etiqueta a la clase.
    window.customElements.define(LogoutReceptorEvento.is, LogoutReceptorEvento);
  </script>
</dom-module>
